<app-header></app-header>
<!-- <ng-template ngIf="navService.selectedPage === page.Home">
  this is our home!
</ng-template>
<app-problem-list-container *ngIf="navService.selectedPage === page.Problems"></app-problem-list-container> -->
<div [ngSwitch]="navService.selectedPage">
  <ng-template [ngSwitchCase]="page.Home">Where do you want to go?</ng-template>
  <app-problem-list-container *ngSwitchCase="page.Problems"></app-problem-list-container>
  <ng-template [ngSwitchCase]="page.Guides">Guides..</ng-template>
</div>